#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(realpath ./provision/kubeconfig)
export ANSIBLE_CONFIG=$(realpath ./ansible.cfg)
export ANSIBLE_HOST_KEY_CHECKING="False"
export SOPS_AGE_KEY_FILE=$(realpath ~/.config/sops/age/keys.txt)
